<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      
      <class name="testCases.HomePage"/>
      <class name="testCases.VehicleData_EndToEndTests"/>
      <class name="testCases.VehicleData_ErrorTests"/>
      
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
